<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Righteous&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrap">
      <!-- ======= Hero Section ======= -->
      {{ if .Params.banner.enable }}
      <!---->
      {{ with .Params.banner }}
      <section id="hero">
        <div class="hero-container" data-aos="fade-up">
          <p>{{.topTitle | markdownify}}</p>
          <h1>{{.title | markdownify}}</h1>
          <img
            src="/assets/img/{{ .logo}}"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="herop-container">
          <h2>{{.subtitle | markdownify}}</h2>
        </div>
      </section>
      {{end}}
      <!---->
      {{end}}
      <!-- End Hero -->

      <!-- ======= Header ======= -->
      <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-center">
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto active" href="/">KitaMare</a></li>
              <li><a class="nav-link scrollto" href="/km-aktuell">KM-Aktuell</a></li>
              <li>
                <a class="nav-link scrollto" href="/km-job">KM-Job</a>
              </li>
              <li>
                <a class="nav-link scrollto" href="/raderberg">KM-Raderberg</a>
              </li>
              <li><a class="nav-link scrollto" href="/suerth">KM-Sürth</a></li>
              <li><a class="nav-link scrollto" href="/zollstock">KM-Zollstock</a></li>
              <li><a href="/anmeldeformular-fuer-ihr-kind">Anmeldung</a></li>

              <li><a class="nav-link scrollto" href="/kontakt/">Kontakt</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <!-- .navbar -->
        </div>
      </header>
      <!-- End Header -->

      <main id="main">
        {{ if .Params.card_section.enable }}
      <!---->
      {{ with .Params.card_section }}
        <!-- ======= card Section ======= -->
        <section class="card-section">
          <div class="container">
            <div class="row justify-content-center">
              {{range .card}}
              <div data-aos="fade-right" class="col-md-4 mt-4">
                <div class="card d-flex align-items-center">
                  <img
                    src="/assets/img/{{.image}}"
                    class="card-img-top img-fluid"
                    alt="{{.title}}"
                  />
                  <div class="card-body">
                    <a href="/{{.link }}">
                      <h5 class="card-title">{{.title}}</h5>
                      <p class="card-text">
                        {{.content}}
                      </p>
                    </a>
                  </div>
                </div>
              </div>
              {{end}}
            </div>
          </div>
        </section>
        {{end}}
      <!---->
      {{end}}
        <!-- End card Section -->


        
        {{ if .Params.structure_section.enable }}
      <!---->
      {{ with .Params.structure_section }}
        <!-- ======= intro Section ======= -->
        <section class="intro-section">
          <div class="row justify-content-center">
            
            {{ range .cards}}
            <div data-aos="fade-right" class="col-md-4 mt-4">
              <div class="card d-flex align-items-center">
                <i class="{{.icon}}"></i>
                <h4>{{.title | markdownify}}</h4>
                <div class="card-body mt-4">
                  {{.content | safeHTML}}
                </div>
              </div>
            </div>
            {{end}}
            
          </div>
        </section>
        {{end}}<!---->
        {{end}}
        <!-- End intro Section -->
      </main>
      <!-- End #main -->
{{ partial "footer.html" }}
  </body>
</html>
