{{ define "main" }}

<!---->
{{ if .Params.card_section.enable }}
<!---->
{{ with .Params.card_section }}
<!-- ======= card Section ======= -->
<section class="card-section">
  <div class="container">
    <div class="row justify-content-center">
      {{range .card}}
      <div data-aos="fade-right" class="col-md-4 mt-4">
        <div class="card d-flex align-items-center">
          <img
            src="/assets/img/{{.image}}"
            class="card-img-top img-fluid"
            alt="{{.title}}"
          />
          <div class="card-body">
            <a href="{{.link | relLangURL }}">
              <h5 class="card-title">{{.title}}</h5>
              <p class="card-text">{{.content}}</p>
            </a>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
<!---->
{{end}}
<!-- End card Section -->

{{ if .Params.structure_section.enable }}
<!---->
{{ with .Params.structure_section }}
<!-- ======= intro Section ======= -->
<section class="intro-section">
  <div class="row justify-content-center">
    {{ range .cards}}
    <div data-aos="fade-right" class="col-md-4 mt-4">
      <div class="card d-flex align-items-center">
        <i class="{{.icon}}"></i>
        <h4>{{.title | markdownify}}</h4>
        <div class="card-body mt-4">{{.content | safeHTML}}</div>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}<!---->
{{end}}
<!-- End intro Section -->

<!-- End #main -->
{{end}}
