{{ define "main" }}
<!-- ======= card Section ======= -->
<section>
  <div class="container editable">
    <div class="row d-flex">
      <div class="section-title">
        <img src="/assets/img/34372653_s-300x204.jpg" alt="" />
      </div>
      <div class="kotakt">
        <div data-aos="fade-right" class="col-md-6 mt-4">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active blue">
                <div class="carousel-caption d-none d-md-block">
                  <h2>Zentrale</h2>
                  <p>
                    02236 - 8966876
                    <br />
                    Montag-Donnerstag 9:00-15:00 Uhr
                  </p>
                </div>
              </div>
              <div class="carousel-item green">
                <div class="carousel-caption d-none d-md-block">
                  <h2>KitaMare | Raderberg</h2>
                  <p>
                    Mannsfelderstraße 41 <br />
                    50968 Köln
                  </p>
                </div>
              </div>
              <div class="carousel-item blue">
                <div class="carousel-caption d-none d-md-block">
                  <h2>KitaMare | Sürth</h2>
                  <p>
                    Grüner Weg 6-12 <br />
                    50999 Köln
                  </p>
                </div>
              </div>
              <div class="carousel-item orange">
                <div class="carousel-caption d-none d-md-block">
                  <h2>KitaMare | Zollstock</h2>
                  <p>
                    Grüner Weg 6-12 <br />
                    50999 Köln
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          {{ with .Params.map_code }}
          <iframe
            src="https://www.google.com/maps/embed?pb={{.}}"
            width="100%"
            height="450px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End card Section -->{{end}}
