<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}} | {{.Site.Title}}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baumans&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&family=Righteous&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrap">
      <!-- ======= Hero Section ======= -->
      {{ partial "hero.html" }}
      <!-- End Hero -->

      <!-- ======= Header ======= -->
      <header id="header" class="d-flex align-items-center editable">
        <div class="container d-flex align-items-center justify-content-center">
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto" href="/">KitaMare</a></li>
              <li>
                <a class="nav-link scrollto" href="/km-aktuell">KM-Aktuell</a>
              </li>
              <li>
                <a class="nav-link scrollto" href="/km-job">KM-Job</a>
              </li>
              <li>
                <a class="nav-link scrollto active" href="/raderberg"
                  >KM-Raderberg</a
                >
              </li>
              <li><a class="nav-link scrollto" href="/suerth">KM-Sürth</a></li>
              <li>
                <a class="nav-link scrollto" href="/zollstock">KM-Zollstock</a>
              </li>
              <li><a href="/anmeldeformular-fuer-ihr-kind">Anmeldung</a></li>

              <li><a class="nav-link scrollto" href="/kontakt/">Kontakt</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
          <!-- .navbar -->
        </div>
      </header>
      <!-- End Header -->

      <main id="main">
        <!-- ======= card Section ======= -->
        <section>
          <div class="container editable">
            <div class="row d-flex justify-content-center">
              <div class="section-title">
                <h2>KitaMare Raderberg</h2>
              </div>

              <div data-aos="fade-right" class="col-md-6 mt-4">
                <img
                  src="/assets/img/overview_kitamare_raderberg-768x1086.jpg"
                  alt=""
                  class="img-fluid"
                />
              </div>
              <div data-aos="fade-right" class="col-md-6 mt-4 text-column">
                <h4 class="text-center"><i class="bi bi-star-fill"></i></h4>
                <h4 class="text-center">Gruppenstruktur</h4>

                {{ .Content}}
              </div>
            </div>
          </div>
        </section>
        <!-- End card Section -->

        <!-- ======= intro Section ======= -->
        <section class="content-section">
          <div class="container">
            <div class="row justify-content-center">
              <div data-aos="fade-right" class="col-md-4 content-new">
                <div class="title">
                  <i class="bi bi-star-fill"></i>
                  <p>Team Raderberg</p>
                </div>
                <ul class="content-text">
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Nasrin Azarvand | Leitung</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Cordula Strauch | Stellv. Leitung</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Melanie Aussem</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Vanessa de Beyer</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Maria Cascina</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Meltem Celik</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Julia Katrin Hahn</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Natalia Huber</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Eva Jarmulkowicz</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Sarah Karol</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Sandra Kiehn</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Aylin Moeller</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Selina Olmscheid</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Isabell Preiditsch</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Jasmin Siep</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Elvira Sepic</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Lisa Unkenholz</p>
                  </li>
                  <li>
                    <i class="bi bi-star-fill"></i>
                    <p>Sylvia Wasser</p>
                  </li>
                </ul>
              </div>
              <div class="col-md-8">
                <div class="title">
                  <i class="bi bi-star-fill"></i>
                  <p>Karte</p>
                </div>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5035.937961966587!2d7.01013!3d50.868774!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x293231024c8a77d2!2sKitaMare%20gGmbH!5e0!3m2!1sen!2sus!4v1662346452898!5m2!1sen!2sus"
                  width="100%"
                  height="100%"
                  style="border: 0"
                  allowfullscreen=""
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"
                ></iframe>
              </div>
            </div>
          </div>
        </section>
        <!-- End intro Section -->
      </main>
      <!-- End #main -->
      {{ partial "footer.html" }}
    </div>
  </body>
</html>
