{{ define "main" }}

<!-- ======= card Section ======= -->
{{ if .Params.banner_image.enable }}
<!---->
{{ with .Params.banner_image }}
<section>
  <div class="container editable">
    <div class="row d-flex justify-content-center align-items-center">
      <div data-aos="fade-right" class="col-md-6 mt-4">
        <img src="/assets/img/{{.image}}" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
{{end}}
<!---->
{{ end }}
<!-- End card Section -->

<!-- ======= intro Section ======= -->
<section class="content-section">
  <div class="container">
    <div class="row justify-content-center">
      <div data-aos="fade-right" class="col-md-9 mt-4 content-text">
        {{ .Content}}
      </div>
    </div>
  </div>
</section>
<!-- End intro Section -->
{{ end }}
