<header id="header" class="d-flex align-items-center editable">
  <div class="container d-flex align-items-center justify-content-center">
    <nav id="navbar" class="navbar">
      <ul>
        {{ $currentPage := . }}
        <!---->
        {{ range site.Menus.main }}
        <li>
          <a
            class='nav-link {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}'
            href="{{ .URL | relLangURL }}"
            >{{ .Name }}</a
          >
        </li>
        {{end}}
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>
